Добрый день!<br>
<br>
Рада видеть вашу заинтересованность в создании интересных контентных воронок, что завлекают умы читателей и вызывают
всепоглощающее чувство: стать обладателем вашей услуги/информационного продукта.<br>
<br>
Меня зовут Лидия. Я контент-стратег, специалист по продажам через соцсети и наставник. Помогаю экспертам мягких ниш
создавать стабильный трафик клиентов через систему вовлечения аудитории и продаж.<br>
<br>
Также создатель авторской методики ажиотажа в микроблогах.<br>
<br>
Расскажите, пожалуйста, как вас зовут и чем вы занимаетесь?